{% extends "base.html" %}

<!-- start content -->
{% block content %}
<meta name="csrf-token" content="{% csrf_token %}">
<div class="container-sm">

  <!-- Title -->
  <div class="row justify-content-md-center">
	<div class="col">
	  <h1>Jarvis assistant</h1>
	</div>
  </div>
  <!-- /Title -->

  <!-- Stopwatch timer -->
  <!-- Guide found at https://ssava.hashnode.dev/building-a-responsive-stopwatch-with-bootstrap-5-and-javascript -->
  <div id="stopwatch" class="bg-light p-3 container shadow-sm rounded" style="width: max-content">
    <div class="bg-white shadow-lg py-4 px-2 fw-bold font-monospace rounded d-flex justify-content-between align-items-center display fs-1">
      00 : 00 : 00 : 000
    </div>
    <div class="mb-3 mt-5 d-flex mx-3 justify-content-between">
      <button id="start_btn" class="btn btn-lg btn-success start">Gravar</button>
      <button id="pause_btn" class="btn btn-lg btn-primary pause">Pausar</button>
      <button id="stop_btn" class="btn btn-lg btn-danger stop">Reiniciar</button>
    </div>
  </div>
  <!-- /Stopwatch timer -->

  <!-- Export menu -->
  <div id="export_menu" class="bg-light p-5 container shadow-sm rounded" style="width: max-content; margin-top: 50px; display: none">
    <button class="btn btn-lg btn-secondary start">Enviar requisição</button>
  </div>
  <!-- /Export menu -->

  <!-- Response field -->
  <div id="response_field" class="bg-light p-5 container shadow-sm rounded" style="margin-top: 50px; display: none">
	  <p id="response_text"></p>
  </div>

  <!-- /Response field -->

<div>

<!-- start extrajs -->
{% csrf_token %}
{% block extrajs %}
<!-- Timer -->
<script type="text/javascript">
  const stop = document.querySelector(".stop");
  const pause = document.querySelector(".pause");
  const start = document.querySelector(".start");
  const display = document.querySelector(".display");
  const export_menu = document.querySelector("#export_menu");
  const response_field = document.querySelector("#response_field")
  let mediaRecorder;
  let audioChunks = [];

  // Variáveis para guardar cada tempo
  var [m, h, s, ms] = [0, 0, 0, 0];
  var interval = 0;

 // Audio recording guide by https://medium.com/@bryanjenningz/how-to-record-and-play-audio-in-javascript-faa1b2b3e49b
 const handleSuccess = async function(stream) {
	 // Começa a gravar
	 mediaRecorder = new MediaRecorder(stream);
     mediaRecorder.start();

	 // Adiciona pedaçdos do áudio em um array
	 mediaRecorder.addEventListener("dataavailable", event => {
		 audioChunks.push(event.data);
     });
 };					  


  // Começa a contagem ao clicar no botão de gravar
  start.addEventListener("click", () => {
	  // Inicia o timer
	  interval = setInterval(setTime, 16);

	  // Desabilita o botão de gravar
	  start.disabled = true;

	  // Desabilita o menu de exportação
	  export_menu.style.display = "none";

	  // Grava áudio
	  navigator.mediaDevices.getUserMedia({
		  audio: true,
		  video: false
	  }).then(handleSuccess);


  });

  function setTime() {
	  ms += 16;
	  if (ms >= 999) {
		  s++;
		  ms = 0;
		  if (s >= 60) {
			  m++;
			  s = 0;
			  if (m >= 60) {
				  s++;
				  m = 0;
			  }
		  }
	  }
	  display.innerHTML = `${String(h).padStart(2, "0")} : ${String(m).padStart(2,"0")} : ${String(s).padStart(2,"0")} : ${String(ms).padStart(3, "0")}`;
  }

  // Para o stopwatch ao apertar o stop
  stop.addEventListener("click", () => {
	  display.innerHTML = "00 : 00 : 00 : 000";
	  h = 00;
	  m = 0;
	  s = 0;
	  ms = 0;
	  clearInterval(interval);

	  // Marca o botão de start como ativo
	  start.disabled = false;

	  // Desabilita o menu de exportação
	  export_menu.style.display = "none";

	  // Reinicia o campo de resposta e esconde o campo
	  response_field.style.display = "none";
	  document.getElementById("response_text").innerHTML = '';

	  // Esvazia o array de audioChunks
	  audioChunks = [];
	
  });

  pause.addEventListener("click", async () => {
	  clearInterval(interval);

	  // Marca o botão de start como ativo
	  start.disabled = false;

	  // Habilita o menu de exportação
	  export_menu.style.display = "block";

	  // Pausa a gravação de áudio e aguarda a chamada da requisição
	  await mediaRecorder.stop();

  });

// Envio do arquivo quando o botão da chamada da API for pressionado
 export_menu.addEventListener("click", () => {
	const audioBlob = new Blob(audioChunks); 
	 const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
 
	 // Temporario: Gera URL para o áudio
	 const audioUrl = URL.createObjectURL(audioBlob);

	 // Chama o backend para processamento, armazenamento e chamada da API do Jarvis
	 let audio_form = new FormData();
	 audio_form.append('audio', audioBlob);

	 $.ajax({
		 url: '/',
		 type: 'POST',
		 data: audio_form,
		 headers: {
			 'X-CSRFTOKEN': csrftoken 
		 },
		 processData: false,
		 contentType: false,
		 success: function(data) {
			 response_field.style.display = "block"
			 document.getElementById("response_text").innerHTML = data.message;
		 },
		 error: function() {
			 console.log("ERRO");
		 }
	 })
 });

  
</script>

<!-- end extrajs -->
{% endblock %}

<!-- end content -->
{% endblock %}
